.form{
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 5px solid #888;
    width: 50%;  
}
.cancelButton{
    padding: 10px;
    background-color:red;
    color:white;
    width: 20%;
    margin-bottom: 10px;
    margin-left: 10px;
}
.submitButton{
    padding: 10px;
    background-color:green;
    color:white;
    margin-left: 10px;
    width: 20%;
    margin-bottom: 10px;
}
.input{
    padding: 10px;
    margin-top: 5px;
    width: 95%;
    margin-bottom: 10px;
    background-color:#f1f1f1;
}